<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ui="http://www.springui.com/thymeleaf/dialect/ui"
      th:remove="tag">
<div class="btn-group" th:data-description="${self.description?.text}">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        [[${self.caption?.text}]]
    </button>
    <div class="dropdown-menu">
        <th:block th:each="item : ${self.items}">
            <button th:unless="${item.separator}"
                    class="dropdown-item"
                    th:formaction="${#urls.action(item)}"
                    th:text="${item.caption?.text}"></button>
            <div th:if="${item.separator}"
                 class="dropdown-divider"></div>
        </th:block>
    </div>
</div>
</html>