<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ui="http://www.springui.com/thymeleaf/dialect/ui"
      th:remove="tag">
<th:block th:each="item : ${self.items}"
          th_with="idvp = ${self.itemDisplayValueProvider}">
    <div class="form-check">
        <input type="checkbox" class="form-check-input"
               th:field="*{components[__${self.id}__].selectedKeys}"
               th:value="${self.itemToKey(item)}"
               th:id="${#ids.seq(self.id)}">
        <label class="form-check-label"
               th:for="${#ids.prev(self.id)}">
            [[${item}]]
        </label>
    </div>
</th:block>
</html>