<html xmlns:th="http://www.thymeleaf.org"
      xmlns:ui="http://www.springui.com/thymeleaf/dialect/ui"
      th:remove="tag">
<div class="progress">
    <div class="progress-bar"
         role="progressbar"
         th:data-color="${self.color}"
         th:data-size="${self.size}"
         th:style="'width: __${self.value * 100}__%;'"
         th:aria-valuenow="${self.value * 100}"
         aria-valuemin="0"
         aria-valuemax="100">
        <th:block th:text="${self.caption?.text} ?: _" />
    </div>
</div>
</html>